html {
  background: rgb(34,193,195);background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-color: #E4E9FD;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

footer {
  justify-content: center;
  padding-bottom: 5%;
}

h1 {
  color: #fff;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 10rem;
}

.box {
  padding: 30px 40px 10px;
  float: none;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 40px;
  background-color: #f1f1f1;
  max-width: 30%;
  margin: 50px auto;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.heading {
  float: none;
  justify-content: center;
  margin: 50px auto;
  background: transparent;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #000;
}

input[type="checkbox"] {
  position: absolute;
  height: 30px;
  width: 30px;
}

p {
  margin-left: 45px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  justify-content: center;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: #000;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  border-width: 2px;
  transition: transform .2s ease-in-out;
}

button:hover {
  background-color: #fdbb2d;
  cursor: pointer;
  transform: rotate(90deg);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #22c1c3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
